@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans), sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-unbounded), sans-serif;
}

code, .mono {
  font-family: var(--font-geist-mono), monospace;
}
